.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  height: 800px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  font-weight: 500;
  opacity: 1;
  transition-property: opacity;
}

.nav__link:hover {
  opacity: 0.5;
}

.header__title {
  margin: 183px 0 28px;
  max-width: 729px;
  top: 243px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-weight: 500;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}
